<div class="title-item" *ngFor="let u of user">





  <h2 id="a+"> informações do usuário {{u.name}}
    <a [routerLink]="['/userId/' + u.id]" class="btn btn-outline-dark">Ver mais</a> <a
      [routerLink]="['/userRegister/' + u.id]" class="btn btn-outline-dark">atualizar</a>
    <div *ngFor="let i of userId"></div>
  </h2>
  <table>

    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Celular</th>
      <th>Email</th>
      <th>CPF</th>
    </tr>

    <tr>
      <td class="col-1 "><span class="badge">{{u.id}}</span></td>
      <td>{{u.name}}</td>
      <td>{{u.cellPhone}}</td>
      <td class="col-2">{{u.email}}></td>
      <td>{{u.cpf}} </td>

    </tr>





  </table>



</div>
