<h3>Natflix</h3>

<h2 class="h4" tabindex="-1">Em alta</h2>
<div class="wrapper">
  <div class="title-item" *ngFor="let m of movies">
    <img src="{{m.image}}" class="img">
    <div class="items">
      <div class="left-side">
        <button id="ob" type="button" class="btn-play"><i class="material-icons">play_arrow</i></button>
        <h2>{{m.title}}</h2>
        <p class="titulo">
          <a href="javascript:void(0);"></a> {{m.synopsis}}
        </p>
        <ul class="infos">
          <li class="relevance">98% relevante</li>
          <li class="age age-16"></li>
        </ul>
        <ul class="categories">
          <li>{{m.categorys}}</li>
          <li>{{m.duration}}</li>
          <li>{{m.releasedate}}</li>
          <a [routerLink]="['/moviesId/' + m.id]" class="btn btn-outline-dark">Ver mais</a>
          <a [routerLink]="['/update/' + m.id]" class="btn btn-outline-dark">atualizar</a>
        </ul>
      </div>
    </div>
    <div *ngFor="let i of moviesId"></div>




  </div>



</div>


<footer class="row no-gutters p-4">

  <a class="col-12 col-sm-6 col-lg-3 text-reset" href="#">Termos de uso</a>
  <a class="col-12 col-sm-6 col-lg-3 text-reset" href="#">Declaração de privacidade</a>
  <a class="col-12 col-sm-6 col-lg-3 text-reset" href="#">Preferências de cookies</a>
  <a class="col-12 col-sm-6 col-lg-3 text-reset" href="#">Centro de ajuda</a>

</footer>
